name: Submodule Sync
# 触发条件：每天UTC4点执行，且支持手动触发
on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Submodule
        uses: mheap/submodule-sync-action@v1
        with:
          path: operating-system  # 必填，子模块在父仓库中的路径
          ref: main            # 必填，子模块要同步的分支
          pr_branch: auto-submodule-update  # 必填，创建PR的分支名
          target_branch: master  # 必填，PR要合并到的父仓库分支
